<div id="quiz-container">

  <% let cards %>
  <% (locals.quizzes) ? cards = quizzes : cards = results %>

  <!-- Create element for each card object -->
  <% for (const card of cards) { %>

    <article class="card quiz">

      <!-- Add a default photo or description if missing -->
      <% if(!card.photo) card.photo = "../imgs/temp-photo.jpg" %>
      <% if(!card.description) card.description = "" %>

      <!-- Set url depending on quiz or result -->
      <% if (locals.quizzes) { %>
        <a href="/quiz/<%= card.url %>">
      <% } else { %>
        <a href="/quiz/<%= card.url %>/result/<%= card.id %>">
      <% } %>

      <!-- Truncate card title -->
      <% const titleChar = card.title.length %>
      <% if (titleChar >= 40) card.title = card.title.slice(0, 40).concat("...") %>

      <!-- Truncate card body depending on quiz or result -->
      <% let bodyText, maxBodyCharShort, maxBodyCharLong %>
      <% if (locals.quizzes) { %>
        <% bodyText = card.description %>
        <% maxBodyCharShort = 55 %>
        <% maxBodyCharLong = 80 %>
      <% } else if (locals.results && card.type === "trivia") { %>
        <% bodyText = card.percent + '%' %>
        <% maxBodyCharShort = 55 %>
        <% maxBodyCharLong = 80 %>
      <% } else { %>
        <% bodyText = card.outcome.title %>
        <% maxBodyCharShort = 45 %>
        <% maxBodyCharLong = 70 %>
      <% } %>

      <% if (titleChar >= 25 && bodyText.length >= maxBodyCharShort) { %>
        <% bodyText = bodyText.slice(0, maxBodyCharShort).concat("...") %>
      <% } else if (bodyText.length >= maxBodyCharLong) { %>
        <% bodyText = bodyText.slice(0, maxBodyCharLong).concat("...") %>
      <% } %>

      <!-- Set card elements -->
        <img class="card-img-top" src="<%= card.photo %>">
        <div class="card-body">
          <h3 class="card-title"><%= card.title %></h3>
          <p class="card-subtitle"><%= card.type %> | <%= card.category %></p>

        <!-- Set card text -->
        <% if (locals.quizzes) { %>
          <p class="card-text"><%= bodyText %></p>
        <% } else { %>
          <p class="card-text">You got: <%= bodyText %></p>
        <% } %>

        </div>
      </a>
    </article>
  <% } %>


</div>
