<div id="quiz-container">

  <% let cards %>
  <% (locals.quizzes) ? cards = quizzes : cards = results %>
  
  <!-- Create element for each card object -->
  <% for (const card of cards) { %>

    <article class="card quiz">

      <!-- Add a default photo or description if missing -->
      <% if(!card.photo) card.photo = "../imgs/temp-photo.jpg" %>
      <% if(!card.description) card.description = "" %>

      <!-- Set url depending on quiz or result -->
      <% if (locals.quizzes) { %>
        <a href="/quiz/<%= card.url %>">
      <% } else { %>
        <a href="/quiz/<%= card.url %>/result/<%= card.id %>">
      <% } %>

      <!-- Truncate card title -->
      <% const titleChar = card.title.length %>
      <% if (titleChar >= 40) card.title = card.title.slice(0, 40).concat("...") %>

      <!-- Truncate card body (description or outcome) -->
      <% let bodyText %>
      <% (locals.quizzes) ? bodyText = card.description : bodyText = card.outcome.title %>
      <% if (titleChar >= 20 && bodyText.length >= 50) { %>
        <% bodyText = bodyText.slice(0, 50).concat("...") %>
      <% } else if (bodyText.length >= 80) { %>
        <% bodyText = bodyText.slice(0, 80).concat("...") %>
      <% } %>
    
        <img class="card-img-top" src="<%= card.photo %>">
        <div class="card-body">
          <h3 class="card-title"><%= card.title %></h3>
          <p class="card-subtitle"><%= card.type %> | <%= card.category %></p>

        <!-- Set card text depending on quiz or result -->
        <% if (locals.quizzes) { %>
          <p class="card-text"><%= bodyText %></p>
        <% } else if (locals.results && card.type === "trivia") { %>
          <p class="card-text">You got: <%= card.percent %></p>
        <% } else if (locals.results && card.type === "personality") { %>
          <p class="card-text">You got: <%= bodyText %></p>
        <% } %>
        
        </div>
      </a>
    </article>
  <% } %>


</div>
