<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/home.js"></script>
  </head>

  <header>
    <%- include('./partials/header'); %>
  </header>

  <body>
    <main>
      <div class="filters">
        <span>Filter by:</span>
        <button type="button">All</button>
        <% for (const category of categories) { %>
          <button type="button"><%= category %></button>
        <% } %>
      </div>
      <div id="quiz-container">
        <% for (const quiz of quizzes) { %>
          <a href="/quiz/<%= quiz.url %>">
            <article class="quiz">
              <%= quiz.title %>
              <img src="<%= quiz.photo %>"><br>
            </article>
          </a>
        <% } %>
      </div>
    </main>
  </body>
</html>
