<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <meta charset="UTF-8">
    <title>My Quizzes</title>

    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- CSS Icon stylesheet -->
    <link href='https://css.gg/css' rel='stylesheet'>

    <!-- External stylesheet -->
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/quiz_cards.css" type="text/css" />
    <link rel="stylesheet" href="/styles/title.css" type="text/css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Local JS scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <header>
    <%- include('./partials/header'); %>
  </header>

  <body>
    <h2>My Quizzes</h2>

    <div id="quiz-container">
      <% for (const quiz of quizzes) { %>
        <article class="card quiz">
          <a href="/quiz/<%= quiz.url %>">
            <% if(!quiz.photo) quiz.photo = "../assets/quiz-placeholder.png" %>
            <img class="card-img-top" src="<%= quiz.photo %>">
            <div class="card-body">
              <h3 class="card-title"><%= quiz.title %></h3>
              <p class="card-subtitle"><%= quiz.type %> | <%= quiz.category %></p>
              <p class="card-text"><%= quiz.description %></p>
            </div>
          </a>
        </article>
      <% } %>
    </div>

    <!-- Bootstrap JS scripts -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  </body>
</html>
