<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <meta charset="UTF-8">
    <title>Results - <%= result.title %></title>

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image"></meta>
    <meta name="twitter:site" content="@quizandtell">
    <meta name="twitter:title" content="Results - <%= result.title %>"></meta>
    <meta name="twitter:description" content="Check out the quiz I just took"></meta>
    <meta name="twitter:image:src" content="<%= result.photo %>"></meta>

    <!-- Facebook -->
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Results - <%= result.title %>" />
    <meta property="og:description"   content="Check out the quiz I just took" />
    <meta property="og:image"         content="<%= result.photo %>" />

    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- CSS Icon stylesheet -->
    <link href='https://css.gg/css' rel='stylesheet'>

    <!-- External stylesheet -->
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/result.css" type="text/css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Local JS scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/result.js"></script>
  </head>

  <!-- Nav Bar -->
  <header>
    <%- include('./partials/_header') %>
  </header>

  <body>
    <!-- Load Facebook SDK for Sharing -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <main>
      <!-- Quiz Title and Photo -->
      <div id='container'>
        <div>
          <h2><%= result.title %></h2>
          <% if(result.photo) { %>
            <div id='photo'>
              <img src="<%= result.photo %>" id='result-photo' class='photo'>
            </div>
          <% } %>
        </div>

        <!-- Score or Result -->
        <div id='result'>
          <% if(result.type === 'trivia') { %>
            <h2>Your Score</h2>
            <h3><%= result.percent %>%</h3>
            <p>Your score is better than <%= result.numBeaten %>% of quiz takers.</p>
          <% } else { %>
            <h2>Your Result</h2>
            <% if(outcome.photo) { %>
              <div id='photo'>
                <img src="<%= outcome.photo %>" class='photo'>
              </div>
            <% } %>
            <p><%= outcome.title %></p>
            <% if(outcome.description) { %>
              <p><%= outcome.description %></p>
            <% } %>
          <% } %>
        </div>

        <!-- Share Buttons -->
        <div>
          <button type='button' class='btn btn-primary' id='share-result'>Share Result</button>
          <button type='button' class='btn btn-primary' id='share-quiz'>Share Quiz</button>
          <% if(result.type === 'trivia') { %>
            <button type='button' class='btn btn-primary' id='take-quiz'>Beat This Score</button>
          <% } else { %>
            <button type='button' class='btn btn-primary' id='take-quiz'>Take Again</button>
          <% } %>
        </div>
        <div id='social'>
          <div id='media' class='social'>
            <div class="fb-share-button" data-layout="button_count"></div>
            <img id='twitter' src='https://www.creativefreedom.co.uk/wp-content/uploads/2017/06/Twitter-featured.png' height=20 width=20>
          </div>
          <% if(user) { %>
            <div id='star' class='social'>
              Rating:
              <% if(rating) { %>
                <% for (let i = 1; i <= 5; i++) { %>
                  <% if (i <= rating.rating) { %>
                    <i id='star<%= i %>' class="fa fa-star checked"></i>
                  <% } else { %>
                    <i id='star<%= i %>' class="fa fa-star"></i>
                  <% } %>
                <% } %>
              <% } else { %>
                <span id='star1' class="fa fa-star"></span>
                <span id='star2' class="fa fa-star"></span>
                <span id='star3' class="fa fa-star"></span>
                <span id='star4' class="fa fa-star"></span>
                <span id='star5' class="fa fa-star"></span>
              <% } %>
            </div>
            <div id='favourite' class='social'>
              Favourite:
              <% if(favourite) { %>
                <i id='heart' class="fa fa-heart checked"></i>
              <% } else { %>
                <i id='heart' class="fa fa-heart"></i>
              <% } %>
            </div>
          <% } %>
        </div>
      </div>
    </main>
  </body>

    <!-- Bootstrap JS scripts -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  </body>
  <footer>
    <%- include('./partials/_footer'); %>
  </footer>
</html>
