<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Results - <%= result.title %></title>

    <meta name="twitter:card" content="summary"></meta>
    <meta name="twitter:title" content="Results - <%= result.title %>"></meta>
    <meta name="twitter:description" content="Check out the quiz I just took, I got <%= result.percent %>%"></meta>
    <meta name="twitter:image:src" content="<%= result.photo %>"></meta>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/resultButtons.js"></script>
  </head>

  <!-- Nav Bar -->
  <%- include('partials/header') %>

  <!-- Quiz Title and Photo -->
  <header>
    <h1><%= result.title %></h1>
    <% if(result.photo) { %>
      <img src='<%= result.photo %>'>
    <% } %>
  </header>

  <body>
    <!-- Score or Result -->
    <div>
      <% if(result.type === 'trivia') { %>
        <h2>Your Score</h2>
        <p><%= result.percent %>%</p>
        <p>Your score is better than <%= result.numBeaten %>% of quiz takers.</p>
      <% } else { %>
        <h2>Your Result</h2>
        <% if(outcome.photo) { %>
          <img src='<%= outcome.photo %>'>
        <% } %>
        <p><%= outcome.title %></p>
        <% if(outcome.description) { %>
          <p><%= outcome.description %></p>
        <% } %>
      <% } %>
    </div>

    <!-- Share Buttons -->
    <div>
      <button type='button' id='share-result'>Share Result</button>
      <button type='button' id='share-quiz'>Share Quiz</button>
      <button type='button' id='take-quiz'>Beat This Score</button>
    </div>
    <div>
      <img id='facebook' src='https://i.pinimg.com/originals/30/99/af/3099aff4115ee20f43e3cdad04f59c48.png' height=20 width=20>
      <img id='twitter' src='https://www.creativefreedom.co.uk/wp-content/uploads/2017/06/Twitter-featured.png' height=20 width=20>
    </div>
    <div id='ratings'>
      <% if(rating) { %>
        <% for (let i = 1; i <= 5; i++) { %>
          <% if (i <= rating.rating) { %>
            <i id='star<%= i %>' class="glyphicon glyphicon-star"></i>
          <% } else { %>
            <i id='star<%= i %>' class="glyphicon glyphicon-star-empty"></i>
          <% } %>
        <% } %>
      <% } else { %>
        <i id='star1' class="glyphicon glyphicon-star-empty"></i>
        <i id='star2' class="glyphicon glyphicon-star-empty"></i>
        <i id='star3' class="glyphicon glyphicon-star-empty"></i>
        <i id='star4' class="glyphicon glyphicon-star-empty"></i>
        <i id='star5' class="glyphicon glyphicon-star-empty"></i>
      <% } %>
      <% if(favourite) { %>
        <i id='heart' class="glyphicon glyphicon-heart"></i>
      <% } else { %>
        <i id='heart' class="glyphicon glyphicon-heart-empty"></i>
      <% } %>
    </div>
  </body>

  <!-- Change # to - to uncomment -->
  <%# include('partials/_footer') %>
</html>
