<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Results</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <!-- Nav Bar -->
  <header>
    <%- include('./partials/header'); %>
  </header>

  <body>
    <h1>My Results</h1>
    <% for (const result of results) { %>

        <article class="result">
          <a href="/quiz/<%= result.url %>">
          <header>
            <%= result.title %>
          </header>
          <body>
            <% if(!result.photo) result.photo = "../assets/quiz-placeholder.png" %>
            <img src="<%= result.photo %>">
          </body>
          </a>
          <a href="/quiz/<%= result.url %>/result/<%= result.id %>">
          <footer>
            <% if(result.type === 'trivia') { %>
              Score was <%= result.percent %>%
            <% } else { %>
              <p>Result was <%= result.outcome.title %></p>
              <% if(result.outcome.photo) { %>
                <img src='<%= result.outcome.photo %>'>
              <% } %>
            <% } %>
          <p></p>
          </footer>
        </article>
      </a>
    <% } %>
  </body>
</html>
