<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <meta charset="UTF-8">
    <title>Take Quiz - <%= quiz.title %></title>

    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- CSS Icon stylesheet -->
    <link href='https://css.gg/css' rel='stylesheet'>

    <!-- External stylesheet -->
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Local JS scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/takeQuiz.js"></script>
  </head>

  <!-- Nav Bar -->
  <header>
    <%- include('partials/header') %>
  </header>

  <!-- Quiz Title and Photo -->
  <body>
    <h1><%= quiz.title %></h1>
    <% if(quiz.photo) { %>
      <img src='<%= quiz.photo %>'>
    <% } %>

  <!-- Quiz Questions -->
  <body>
    <form id='quiz' method='POST' action='/quiz/<%= quiz.url %>'>
      <p></p>
      <button id='submit-top' type='submit'>Submit Answers</button>
      <button id='review' type='button'>All Questions</button>
      <button id='prev' type='button'>Previous Question</button>
      <button id='next' type='button'>Next Question</button>
      <p></p>
      <div id='questions'>
        <% questions.forEach((question, index) => { %>
          <div id='question<%= index + 1 %>' class='question'>
            <h4>Question <%= index + 1 %></h4>
            <p><%= question.question%></p>
            <% question.answers.forEach((answer) => { %>
              <div id='answer<%= answer.id %>text' class='answer'>
                <input type='radio' id='answer<%= answer.id %>' name='<%= question.id %>' value='<%= answer.id %>'>
                <label for='answer<%= answer.id %>'><%= answer.answer%></label>
                <% if(answer.photo) { %>
                  <img src='<%= answer.photo %>'>
                <% } %>
              </div>
            <% }); %>
          </div>
        <% }); %>
      </div>
      <button id='submit-bottom' type='submit'>Submit Answers</button>
    </form>

    <!-- Bootstrap JS scripts -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  </body>
</html>
