<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Take Quiz - <%= quiz.title %></title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/takeQuiz.js"></script>
  </head>

  <!-- Nav Bar -->
  <%- include('partials/header') %>

  <!-- Quiz Title and Photo -->
  <header>
    <h1><%= quiz.title %></h1>
    <% if(quiz.photo) { %>
      <img src='<%= quiz.photo %>'>
    <% } %>
  </header>

  <!-- Quiz Questions -->
  <body>
    <form id='quiz' method='POST' action='/quiz/<%= quiz.url %>'>
      <p></p>
      <button id='submit-top' type='submit'>Submit Answers</button>
      <button id='review' type='button'>All Questions</button>
      <button id='prev' type='button'>Previous Question</button>
      <button id='next' type='button'>Next Question</button>
      <p></p>
      <div id='questions'>
        <% questions.forEach((question, index) => { %>
          <div id='question<%= index + 1 %>' class='question'>
            <h4>Question <%= index + 1 %></h4>
            <p><%= question.question%></p>
            <% question.answers.forEach((answer) => { %>
              <div id='answer<%= answer.id %>text' class='answer'>
                <input type='radio' id='answer<%= answer.id %>' name='<%= question.id %>' value='<%= answer.id %>'>
                <label for='answer<%= answer.id %>'><%= answer.answer%></label>
                <% if(answer.photo) { %>
                  <img src='<%= answer.photo %>'>
                <% } %>
              </div>
            <% }); %>
          </div>
        <% }); %>
      </div>
      <button id='submit-bottom' type='submit'>Submit Answers</button>
    </form>
  </body>

  <!-- Change # to - to uncomment -->
  <%# include('partials/_footer') %>
</html>
